:root {
    --saf-color: rgb(73, 76, 121);
    --safi-color: rgb(51, 54, 91);
    --aoife-color: rgb(199, 131, 182);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html {
    background: radial-gradient(circle, var(--saf-color), var(--safi-color));
}

html::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://cdn-icons-png.flaticon.com/512/2080/2080878.png') repeat;
    background-size: 100px 100px;
    transform: scale(1.5);
    opacity: 0.04;
    pointer-events: none;
    rotate: -45deg;
    z-index: 1;
    animation: slide 60s linear infinite;
}

/* -------- General Styling -------- */

#main-title, #main-title > span {
    font-family: Impact;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 10rem;
}

#main-title > span {
    background: linear-gradient(to right, var(--aoife-color), white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
}

body {
    position: relative;
    z-index: 2;
}

body > img {
    width: 100px;
    height: 100px;
    bottom: 1rem;
    right: 1rem;
    position: fixed;
    border-radius: 50%;
    border: solid 5px white;
    animation: rainbow-border 3s infinite ease-in-out alternate;
    padding: 2px;
    object-fit: cover;
    z-index: 3;
}

.screen > button {
    border: none;
    background-color: var(--aoife-color);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.screen > button:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    background-color: purple;
    transform: scale(1.1);
}

#results-screen button {
    margin-left: 1rem;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container {
    max-width: 800px;
    border: solid 2px white;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
    border-radius: 10%;
    padding: 5rem;
    overflow: hidden;
    position: relative;
    backdrop-filter: blur(10px);
}

/* -------- Screens -------- */
.screen {
    display: none;
    padding: 1rem;
}

.screen.visible {
    display: block;
}

/* -------- Start Screen -------- */

#start-screen > h1 {
    font-family: Impact;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: var(--aoife-color);
    margin-bottom: 1rem;
}

#start-screen > p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

/* -------- Quiz Screen --------*/
.quiz-header {
    margin-bottom: 20px;
}

#question-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 1.4;
}

.quiz-info {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
}

#answers-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.answers-button {
    background: var(--saf-color);
    color: var(--aoife-color);
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.answers-button:hover {
    background-color: var(--aoife-color);
    color: var(--safi-color);
    transform: scale(1.1);
}

.answers-button.correct {
    background-color: rgba(0, 255, 0, 0.6);
    color: white;
}

.answers-button.wrong {
    background-color: rgba(255, 0, 0, 0.2);
    color: white;
}

.progress-bar {
    margin-top: 2rem;
    height: 10px;
    background-color: rgb(187, 187, 187);
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: rgb(44, 218, 44);
    width: 0;
    transition: width 0.3s ease;
}

/* -------- Results Screen -------- */
#results-screen > h1 {
    font-family: Impact;
    text-shadow: 0px 5px 4px rgba(100, 23, 52, 0.9);
    color: var(--aoife-color);
    margin-bottom: 1rem;
}

.result-info > p {
    background: rgba(0, 0, 0, 0.4);
    width: calc(100% + 120px);
    margin-left: -60px;
    margin-right: -60px;
    color: var(--aoife-color);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

/* -------- Animations -------- */

@keyframes rainbow-border {
  0% { 
    border-color: #ff0000;
    border-style: dotted;
 } 16% { border-color: #ff7f00; }
  33% { 
    border-color: #ffff00;
    border-style: dashed;
 } 50% { border-color: #00ff00; }
  66% { border-color: #0000ff; }
  83% { 
    border-color: #4b0082;
    border-style: double;
 } 100% { border-color: #9400d3; }
}

@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 1000px 1000px; }
}