@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Ubuntu */

:root {
    --safi-color: #2c3e50;
    --safi-light-color: #839ab1;
}

* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--safi-light-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    padding: 1.2rem;
}

h1 {
    font-size: 3rem;
    color: none;
    box-shadow: 0 0 10px var(--safi-color);
    padding: 1rem;
    margin-bottom: 1.2rem;
}

.board {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
}

.list {
    box-shadow: 10px 10px 5px var(--safi-color);
    background-color: #2c3e50e6;
    border-radius: 5%;
    padding: 1rem;
    min-width: 200px;
    width: 30%;
}

.list>h2 {
    font-size: 1.9rem;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
}

.list.over {
    background-color: black;
}

.card {
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5%;
    box-shadow: 0 0px 3px white;
    cursor: grab;
    transition: all 0.1s ease-in-out;
}

.card:active {
    cursor: grabbing;
    transform: scale(1.2);
    box-shadow: 0px 0px 5px white;
}

/* ============= Media and Keyframes =================*/

@media (max-width: 770px) {
    .board {
        flex-direction: column;
        align-items: center;
    }
}