/* No imports allowed ----<
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 Ubuntu >-----
*/

:root {
    --safi-color: #414d67;
    --safi-light-color: #839ab1;
}



* {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;

    margin: 0;

    padding: 0;

}



body {

    background-color: var(--safi-light-color);

    color: white;

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 100vh;

}



.container {

    text-align: center;

    width: 100%;

    padding: 1.2rem;

}



.board {
    /* Changed */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Only extends horizontally */
    justify-content: space-around;
    align-items: left;
    text-align: left;
    width: 100%;

    max-width: 1200px;

    margin: 0 auto;

    gap: 1rem;

}



.list {

    box-shadow: 10px 10px 5px var(--safi-color);

    background-color: #2c3e50e6;

    border-radius: 5%;

    padding: 1rem;

    min-width: 200px;

    width: 30%;

}



.list>h2 {

    font-size: 1.9rem;

    border-bottom: 1px solid white;

    margin-bottom: 1rem;

}



.list.over {

    background-color: var(--safi-color);

}



.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);

    margin-bottom: 0.5rem;

    padding: 0.5rem;

    border-radius: 5%;

    box-shadow: 0 0px 3px white;

    cursor: grab;

    transition: all 0.1s ease-in-out;

}



.card:active {

    cursor: grabbing;

    transform: scale(1.2);

    box-shadow: 0px 0px 5px white;

}



/* ============= Media and Keyframes =================*/



@media (max-width: 770px) {

    .board {

        flex-direction: column;

        align-items: center;

    }
}

/* ============== New Additions ============== */

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 1rem;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: var(--safi-color);
    padding: 2rem;
}

.list-header>h2 {
    font-size: 2.5rem;
}

.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    /* Separator */
    padding-bottom: 1rem;
    border-bottom: solid 1px white;
}

.list-buttons>button {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 1.5rem;
    min-width: 30px;
    /* Locks the button width */
}

.card-buttons {
    display: flex;
    flex-direction: column;
    background: none;
    gap: 3px;
}

.card-buttons>button {
    border: none;
    background: none;
    color: white;
    transition: ease 0.3s all;
}

.header button,
.header select {
    background-color: var(--safi-light-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    /* TopBottom(0.5), LeftRight(1) */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header button:hover,
.header select:hover {
    transform: scale(1.3);
}

.searchBar {
    display: flex;
    justify-content: center;
    color: black;
    background: white;
    width: 30%;
    border-radius: 20px;
    padding: 10px;
}

#categories {
    /* In Cards */
    border: solid 1px white;
    text-align: center;
    border-radius: 27%;
    background: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px 5px;
    appearance: none;
    /* Removes Arrow */
}

#categories:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.2);
}

#delete-list:hover,
#delete-card:hover {
    transform: scale(1.2);
    color: red;
    cursor: pointer;
}

#add-list:hover,
#add-card:hover {
    transform: scale(1.2);
    color: rgb(0, 223, 0);
    cursor: pointer;
}